*{
		position: absolute;
}
body{
	overflow:hidden;
	background-color: #36605C;
}

#jiazai{
	transition:3s;
	
	width: 1500px;
	height:800px;
	position: absolute;
	background:url(../img/logo.png) no-repeat center center;  
}
#myCanvas{
	width:1700px;
	height:1600px;
	
	margin-left: -150px;
	margin-top: -800px;
	
	background-color: #36605C;
	transform:perspective(600px) rotateX(15deg) ;
	transform-origin: 50% 100%;
	/*使用第二个值[调整旋转基点] 来控制当前位置*/
}

._zym{
	margin-top: -1000px;/*加载完之前藏起来*/
	
	width: 100px;
	height: 150px;
	border: 2px solid red;
	box-shadow: 3px 3px 5px #888888;
}
._zym p{
	position: absolute;
	margin-top: 130px;
	opacity: 0.9;
	width: 100px;
	height: 20px;
	background-color: #36605C;
	color: white;
	text-align: center;
}


#zh{
	margin-left:120px;
}


.qy{
	margin-top: 0px;
	position: fixed;
	width: 100%;
	height: 300px;
}
#down{
	margin-top: 500px;
}
