div div{
	border: 2px solid cadetblue;
	width: 80px;
	height: 60px;
	float: left;
	margin-left: 8px;
	margin-top: 8px;
}
div h2{
	font-family:"微软雅黑","黑体","宋体";
	font-size: 46px;
	margin-left: 25px;
	margin-top: -3px;
}
body{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}
#body{
	width: 400px;
	margin-left: 50px;
}
#jisuan{
	width: 500px;
	margin-top: 250px;
	margin-left: 0px;
}
#jisuan div h2{
	font-size: 25px;
	margin-left: 13px;
	margin-top: 10px;
}
input{
	width: 355px;
	height: 40px;
	display: block;
	margin-left: 57.25px;
	font-size: 30px;
}
div:active/*鼠标按下特效*/
{ 
background-color:#5F9EA0;
}