#div_0{
	width:400px;
	height:375px;
	border-radius:200px;
	background: radial-gradient(red,dimgray);
	padding-top:25px ;
}
#div_1{
	width:250px;
	height:350px;
	border-radius:50px;
	margin: auto auto;
	background-color: azure;
	background-image: url(../img/img.jpg); 
}
ul{
	float: left;
	width: 250px;
	list-style:none;
	margin-left: -40px;


li{
	color: #5F9EA0;
	margin-top: 20px;
	background-color: cadetblue;
}
